
body {
  background-color: #FFFFFD;
  color: #010101;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 800px;
}

header {
  margin-bottom: 10px;
}

section {
  margin-top: 10px;
  margin-bottom: 15px;
}

footer {
  margin-top: 40px;
}
